<div class="container">
  <div class="index-page">
    <p id="notice"><%= notice %></p>

    <h1>Innovations</h1>

    <div class="index">
      <% @innovations.each do |innovation| %>
        <div class="card-index">
          <img class="card-img-top" src="<%= url_for(innovation.thumbnail) %>" alt="Card image cap">
          <div class="card-body">
            <h3 class="card-title"><%= link_to innovation.organization.capitalize, innovation %></h3>
            <h4 class="innovation-title"><%= link_to innovation.innovation_name, innovation %></h4>
            <p class="card-text"><%= sanitize innovation.organization_description %></p>
          </div>
          <div class="card-footer">
            <i class="fas fa-map-marker-alt"> &nbsp </i><%= link_to innovation.location,innovations_path(:location => innovation.location) %>
            <%= link_to innovation.sector, innovations_path(:sector => innovation.sector) %> 
          </div>
        </div>
      <% end %>
    </div>

    <br>
    <% if user_signed_in? && current_user.admin? %>
      <%= link_to 'New Innovation', new_innovation_path %>
    <% end %>
  </div>
</div>

